.CMS_Login_root {
  background: var(--background-dark);

  @apply flex
    flex-col
    h-screen
    items-center
    justify-center;
}

.CMS_Login_custom-logo {
  @apply h-40
    w-80
    mb-4
    bg-contain
    bg-no-repeat
    bg-center
    object-cover;
}

.CMS_Login_static-cms-logo {
  @apply h-40
    w-80;
}

.CMS_Login_error {
  color: var(--error-contrast-color);
  background: var(--error-light);
  border-color: var(--error-main);

  @apply flex
    px-4
    py-3
    mb-6
    text-sm
    border
    rounded-lg;
}

.CMS_Login_error-icon {
  @apply flex-shrink-0
    inline
    w-5
    h-5
    mr-3;
}

.CMS_Login_error-sr-label {
  @apply sr-only;
}

.CMS_Login_button {
  @apply mb-6;
}
