.CMS_Field_root {
  border-color: var(--background-light);

  @apply relative
    flex
    items-center
    gap-2
    border-b;

  &:not(.CMS_Field_error) {
    &:not(.CMS_Field_disabled) {
      &:focus-within {
        border-color: var(--primary-dark);
      }

      &:focus-within {
        & .CMS_Label_root,
        & .CMS_Hint_root {
          color: var(--primary-main);
        }
      }

      &:not(.CMS_Field_no-highlight) {
        &:hover,
        &:focus-within {
          background: var(--background-main);

          & .CMS_Label_root,
          & .CMS_Hint_root {
            color: var(--primary-main);
          }
        }
      }
    }
  }

  &:not(.CMS_Field_no-padding) {
    @apply pb-3;

    & > .CMS_Field_end-adornment {
      @apply -mb-3;
    }
  }
}

.CMS_Field_cursor-pointer {
  @apply cursor-pointer;
}

.CMS_Field_cursor-text {
  @apply cursor-text;
}

.CMS_Field_cursor-default {
  @apply cursor-default;
}

.CMS_Field_wrapper {
  @apply flex
    flex-col
    w-full;

  &.CMS_Field_for-single-list {
    @apply mr-14;
  }
}

.CMS_Field_inline-wrapper {
  @apply flex
    items-center
    justify-center
    p-3
    pb-0;
}

.CMS_Field_end-adornment {
  @apply pr-2;
}
