.CMS_Hint_root {
  @apply w-full
    text-xs;

  &:not(.CMS_Hint_error) {
    &.CMS_Hint_disabled {
      @apply text-neutral-300
        dark:text-neutral-600;
    }

    &:not(.CMS_Hint_disabled) {
      @apply text-neutral-500
       dark:text-neutral-400;
    }
  }

  &:not(.CMS_Hint_disabled) {
    @apply group-focus-within/active:text-blue-500
      group-hover/active:text-blue-500;
  }

  &:not(.CMS_Hint_inline) {
    @apply px-3
      pt-1;
  }
}

.CMS_Hint_link {
  color: inherit;

  &:hover {
    @apply underline;
  }
}

.CMS_Hint_cursor-pointer {
  @apply cursor-pointer;
}

.CMS_Hint_cursor-text {
  @apply cursor-text;
}

.CMS_Hint_cursor-default {
  @apply cursor-default;
}

.CMS_Hint_error {
  @apply text-red-500;
}
