.CMS_Label_root {
  @apply w-full
    flex
    text-xs
    font-bold
    dark:font-semibold;

  &:not(.CMS_Label_inline) {
    @apply px-3
      pt-3;
  }
}

.CMS_Label_cursor-pointer {
  @apply cursor-pointer;
}

.CMS_Label_cursor-text {
  @apply cursor-text;
}

.CMS_Label_cursor-default {
  @apply cursor-default;
}
