.CMS_WidgetObject_list-root {
}

.CMS_WidgetObject_root {
  border-color: var(--background-divider);

  @apply relative
    flex
    flex-col
    border-b;

  &:not(.CMS_WidgetObject_disabled) {
    &.CMS_WidgetObject_error {
      &:focus-within {
        border-color: var(--error-main);
      }

      & .CMS_WidgetObject_fields {
        border-color: var(--error-main);
      }

      &:hover,
      &:focus-within {
        & .CMS_WidgetObject_summary,
        & .CMS_WidgetObject_expand-icon {
          color: var(--error-main);
        }
      }
    }

    &:not(.CMS_WidgetObject_error) {
      &:focus-within {
        border-color: var(--primary-main);

        & .CMS_WidgetObject_fields {
          border-color: var(--primary-main);
        }
      }

      &:hover,
      &:focus-within {
        & .CMS_WidgetObject_summary,
        & .CMS_WidgetObject_expand-icon {
          color: var(--primary-main);
        }
      }
    }
  }

  &.CMS_WidgetObject_disabled {
    & .CMS_WidgetObject_expand-icon {
      color: var(--text-secondary);
    }
  }

  &.CMS_WidgetObject_open {
    & .CMS_WidgetObject_expand-icon {
      @apply rotate-90
        transform;
    }
  }
}

.CMS_WidgetObject_expand {
  @apply flex
    w-full
    justify-between
    pl-2
    pr-3
    py-2
    text-left
    text-sm
    font-medium
    focus:outline-none
    focus-visible:ring
    gap-2;
}

.CMS_WidgetObject_expand-icon {
  @apply transition-transform
    h-5
    w-5;
}

.CMS_WidgetObject_fields {
  color: var(--text-secondary);

  @apply ml-4
    text-sm
    border-l-2
    border-solid;
}

.CMS_WidgetObject_error-message {
  @apply pl-4
    pt-2
    pb-3;
}
