.CMS_SelectOption_root {
  color: var(--text-primary);

  @apply relative
    select-none
    py-2
    px-4
    cursor-pointer;

  &:hover {
    background: var(--primary-main);
  }

  &.CMS_SelectOption_selected {
    background: var(--primary-main);

    & .CMS_SelectOption_label {
      @apply font-medium;
    }
  }

  &:not(.CMS_SelectOption_selected) {
    & .CMS_SelectOption_label {
      @apply font-normal;
    }
  }
}

.CMS_SelectOption_label {
  @apply block
    truncate;
}
