.CMS_WidgetMarkdown_ColorButton_root {
  &.CMS_WidgetMarkdown_ColorButton_is-bright-color {
    & .CMS_WidgetMarkdown_ColorButton_avatar {
      border-color: var(--background-light);

      @apply border;
    }

    & .CMS_WidgetMarkdown_ColorButton_check-icon {
      color: var(--text-primary);
    }
  }
}

.CMS_WidgetMarkdown_ColorButton_avatar {
  @apply w-8
    h-8
    border-transparent;
}

.CMS_WidgetMarkdown_ColorButton_check-icon {
  color: var(--primary-contrast-color);

  @apply h-5
    w-5;
}
