.CMS_Entries_no-entries {
  color: var(--warning-contrast-color);
  background: var(--warning-main);

  @apply py-2
    px-3
    rounded-md
    text-sm;
}

.CMS_Entries_group {
  @apply pb-3;
}

.CMS_Entries_group-content-wrapper {
  @apply -m-1;
}

.CMS_Entries_group-content {
  @apply flex
    gap-2
    p-1
    overflow-x-auto;
}

.CMS_Entries_group-button {
  @apply whitespace-nowrap;
}

.CMS_Entries_entry-listing {
  @apply pb-3
    overflow-hidden;
}

.CMS_Entries_entry-listing-loading {
  background: color-mix(in srgb, var(--background-dark) 50%, transparent);

  @apply absolute
    inset-0
    flex
    items-center
    justify-center;
}

.CMS_Entries_entry-listing-grid {
  @apply relative
    h-full
    flex-grow;
}

.CMS_Entries_entry-listing-grid-container {
  @apply relative
    h-full;
}

.CMS_Entries_entry-listing-cards {
  @apply relative
    w-card-grid
    h-full
    overflow-hidden
    -ml-1;
}

.CMS_Entries_entry-listing-cards-grid-wrapper {
  @apply overflow-hidden;
}

.CMS_Entries_entry-listing-cards-grid {
  @apply !overflow-x-hidden
    overflow-y-auto;
}

.CMS_Entries_entry-listing-table {
  background: var(--background-main);
  border-color: var(--background-light);

  @apply relative
    max-h-full
    h-full
    overflow-hidden
    p-1.5
    shadow-sm
    border
    rounded-xl;
}

.CMS_Entries_entry-listing-table-content {
  @apply relative
    h-full
    overflow-auto;
}

.CMS_Entries_entry-listing-local-backup {
  color: var(--primary-light);

  @apply w-5
    h-5;
}
