.CMS_Modal_root {
  @apply fixed
    inset-0
    overflow-y-auto
    z-[100]
    flex
    min-h-full
    items-center
    justify-center
    text-center;
}

.CMS_Modal_backdrop {
  @apply fixed
    inset-0
    bg-black
    bg-opacity-50
    dark:bg-opacity-60
    z-[100];
}

.CMS_Modal_content {
  @apply transform
    overflow-visible
    rounded-lg
    text-left
    align-middle
    shadow-xl
    transition-all
    bg-white
    dark:bg-slate-800
    z-[101]
    outline-none;
}
