.CMS_Autocomplete_root {
  @apply relative
    w-full;

  &.CMS_Autocomplete_disabled {
    & .CMS_Autocomplete_input {
      color: var(--text-secondary);
    }

    & .CMS_Autocomplete_button-icon {
      color: var(--text-secondary);
    }
  }
}

.CMS_Autocomplete_input {
  color: var(--text-primary);

  @apply w-full
    bg-transparent
    border-none
    py-2
    pl-3
    pr-10
    text-sm
    leading-5
    focus:ring-0
    outline-none
    flex-grow
    truncate;
}

.CMS_Autocomplete_button-wrapper {
  @apply absolute
    inset-y-0
    right-0
    flex
    items-center
    pr-2
    gap-1;
}

.CMS_Autocomplete_button {
}

.CMS_Autocomplete_button-icon {
  color: var(--text-secondary);
}

.CMS_Autocomplete_popper {
  @apply z-[11]
    after:-z-[1];
}

.CMS_Autocomplete_options {
  background: var(--background-main);

  @apply max-h-60
    w-full
    overflow-auto
    rounded-md
    py-1
    text-base
    shadow-md
    focus:outline-none
    sm:text-sm
    relative;
}

.CMS_Autocomplete_nothing {
  color: var(--text-primary);

  @apply relative
    cursor-default
    select-none
    py-2
    px-4;
}

.CMS_Autocomplete_option {
  color: var(--text-primary);

  @apply relative
    select-none
    py-2
    pl-10
    pr-4
    cursor-pointer;
}

.CMS_Autocomplete_option-selected {
  background: var(--background-dark);
}

.CMS_Autocomplete_option-selected {
  & .CMS_Autocomplete_option-label {
    @apply font-medium;
  }
}

.CMS_Autocomplete_option-label {
  @apply block
    font-normal;
}

.CMS_Autocomplete_checkmark {
  color: var(--primary-main);

  @apply absolute
    inset-y-0
    left-0
    flex
    items-center
    pl-3;
}

.CMS_Autocomplete_checkmark-icon {
  @apply h-5
    w-5;
}
