.CMS_WidgetMarkdown_BalloonToolbar_root {
  @apply fixed;
}

.CMS_WidgetMarkdown_BalloonToolbar_popper {
  background: var(--background-main);

  @apply absolute
    max-h-60
    overflow-hidden
    rounded-md
    p-1
    text-base
    shadow-md
    focus:outline-none
    sm:text-sm
    z-[100]
    dark:shadow-lg;
}

.CMS_WidgetMarkdown_BalloonToolbar_content {
  @apply flex
    gap-0.5
    items-center;
}
