.CMS_WidgetMarkdown_BalloonToolbar_root {
  @apply fixed;
}

.CMS_WidgetMarkdown_BalloonToolbar_popper {
  @apply absolute
    max-h-60
    overflow-hidden
    rounded-md
    bg-white
    p-1
    text-base
    shadow-md
    ring-1
    ring-black
    ring-opacity-5
    focus:outline-none
    sm:text-sm
    z-[100]
    dark:bg-slate-700
    dark:shadow-lg;
}

.CMS_WidgetMarkdown_BalloonToolbar_content {
  @apply flex
    gap-0.5
    items-center;
}
