.CMS_WidgetMarkdown_Table_root {
  @apply border-collapse
    border
    border-neutral-200
    dark:border-neutral-700
    rounded-md
    my-4;
}

.CMS_WidgetMarkdown_Table_header {
  @apply border-r
    border-b
    bg-neutral-300
    border-neutral-200
    dark:bg-neutral-700
    dark:border-neutral-800;
}

.CMS_WidgetMarkdown_Table_body {
}

.CMS_WidgetMarkdown_Table_row {
  @apply border-b
    border-neutral-200
    last:border-0
    dark:border-neutral-800;
}

.CMS_WidgetMarkdown_Table_header-cell {
  @apply px-2
    py-1
    [&>div>p]:m-0
    text-left
    bg-neutral-300
    text-sm
    border-r
    border-neutral-200
    dark:bg-neutral-700
    dark:border-neutral-800;
}

.CMS_WidgetMarkdown_Table_body-cell {
  @apply px-2
    py-1
    [&>div>p]:m-0
    border-r
    border-neutral-200
    last:border-0
    dark:border-neutral-800
    text-sm;
}
