.CMS_WidgetMarkdown_Table_root {
  border-color: var(--background-light);

  @apply border-collapse
    border
    rounded-md
    my-4;
}

.CMS_WidgetMarkdown_Table_header {
  background: var(--background-main);
  border-color: var(--background-light);

  @apply border-r
    border-b;
}

.CMS_WidgetMarkdown_Table_body {
}

.CMS_WidgetMarkdown_Table_row {
  border-color: var(--background-light);

  @apply border-b
    last:border-0;
}

.CMS_WidgetMarkdown_Table_header-cell {
  background: var(--background-main);
  border-color: var(--background-light);

  @apply px-2
    py-1
    [&>div>p]:m-0
    text-left
    text-sm
    border-r;
}

.CMS_WidgetMarkdown_Table_body-cell {
  border-color: var(--background-light);

  @apply px-2
    py-1
    [&>div>p]:m-0
    border-r
    last:border-0
    text-sm;
}
