.CMS_Switch_root {
  @apply relative
    inline-flex
    items-center
    cursor-pointer;

  &.CMS_Switch_disabled {
    @apply cursor-default;

    & .CMS_Switch_toggle {
      @apply peer-checked:bg-blue-600/25
        after:bg-gray-500/75
        after:border-gray-500/75
        peer-checked:after:border-gray-500/75;
    }
  }

  &:not(.CMS_Switch_disabled) {
    & .CMS_Switch_toggle {
      @apply after:bg-white
        after:border-gray-300;
    }
  }
}

.CMS_Switch_input {
  @apply sr-only;

  &:focus + .CMS_Switch_toggle {
    @apply ring-4
      ring-blue-300
      dark:ring-blue-800;
  }

  &:checked + .CMS_Switch_toggle {
    @apply bg-blue-600
      after:border-white
      after:translate-x-full;
  }
}

.CMS_Switch_toggle {
  @apply w-11
    h-6
    bg-neutral-200
    rounded-full
    dark:bg-neutral-700
    after:content-['']
    after:absolute after:top-0.5
    after:left-[2px]
    after:border
    after:rounded-full
    after:h-5
    after:w-5
    after:transition-all
    dark:border-gray-600;
}

.CMS_Switch_label {
  @apply ml-3
    text-sm
    font-medium
    text-gray-800
    dark:text-gray-300;
}
