.CMS_WidgetFileImage_SortableImage_root {
  @apply relative
    w-image-card
    h-image-card;
}

.CMS_WidgetFileImage_SortableImage_card {
  background: var(--background-dark);
  border-color: var(--background-main);

  @apply w-image-card
    h-image-card
    rounded-md
    shadow-sm
    overflow-hidden
    cursor-pointer
    border;

  &:hover {
    & .CMS_WidgetFileImage_SortableImage_controls-wrapper {
      background: color-mix(in srgb, var(--primary-main) 25%, transparent);

      @apply visible;
    }
  }
}

.CMS_WidgetFileImage_SortableImage_handle {
  --tw-ring-color: color-mix(in srgb, var(--primary-light) 50%, transparent);

  @apply absolute
    inset-0
    rounded-md
    z-20
    overflow-visible
    focus:ring-4
    focus-visible:outline-none;
}

.CMS_WidgetFileImage_SortableImage_controls-wrapper {
  @apply absolute
    inset-0
    invisible
    transition-all
    rounded-md
    z-20;
}

.CMS_WidgetFileImage_SortableImage_controls {
  background: color-mix(in srgb, var(--background-dark) 90%, transparent);

  @apply absolute
    top-2
    right-2
    flex
    gap-1
    rounded;
}

.CMS_WidgetFileImage_SortableImage_replace-button {
  color: var(--primary-contrast-color);
  background: color-mix(in srgb, var(--primary-dark) 15%, transparent);

  &:hover {
    color: var(--primary-light);
  }
}

.CMS_WidgetFileImage_SortableImage_remove-button {
  color: var(--error-main);
  background: color-mix(in srgb, var(--error-dark) 15%, transparent);

  @apply relative
    z-30;
}

.CMS_WidgetFileImage_SortableImage_button-icon {
  @apply w-5
    h-5;
}

.CMS_WidgetFileImage_SortableImage_content {
  @apply relative;
}

.CMS_WidgetFileImage_SortableImage_image {
  @apply w-image-card
    h-image-card
    rounded-md;
}
