.CMS_WidgetFileImage_SortableLink_root {
  @apply relative
    w-full;
}

.CMS_WidgetFileImage_SortableLink_card {
  @apply w-full
    shadow-sm
    overflow-hidden
    cursor-pointer
    border-l-2
    border-b
    border-solid
    border-l-slate-400
    p-2;
}

.CMS_WidgetFileImage_SortableLink_content {
  @apply relative
    flex
    items-center
    justify-between;
}

.CMS_WidgetFileImage_SortableLink_controls {
  @apply flex
    gap-1;
}

.CMS_WidgetFileImage_SortableLink_replace-button {
  color: var(--primary-contrast-color);

  &:hover {
    color: var(--primary-light);
  }

  @apply dark:hover:bg-blue-800/80;
}

.CMS_WidgetFileImage_SortableLink_remove-button {
  color: var(--error-main);

  @apply relative
    dark:hover:bg-red-800/40
    z-30;
}

.CMS_WidgetFileImage_SortableLink_button-icon {
  @apply w-5
    h-5;
}
