.CMS_WidgetMarkdown_FontTypeSelect_root {
  @apply w-28
    h-6
    mx-1;

  &.CMS_WidgetMarkdown_FontTypeSelect_disabled {
    & .CMS_WidgetMarkdown_FontTypeSelect_select {
      @apply text-gray-300
        border-gray-200
        dark:border-gray-600
        dark:text-gray-500;
    }
  }
}

.CMS_WidgetMarkdown_FontTypeSelect_select {
  @apply flex
    items-center
    justify-between
    text-sm
    font-medium
    relative
    px-1.5
    py-0.5
    w-full
    h-6
    border
    rounded-sm
    text-gray-800
    border-gray-600
    dark:border-gray-400
    dark:text-gray-100;
}

.CMS_WidgetMarkdown_FontTypeSelect_popper {
  @apply max-h-40
    overflow-auto
    rounded-md
    bg-white
    shadow-md
    ring-1
    ring-black
    ring-opacity-5
    focus:outline-none
    sm:text-sm
    dark:bg-neutral-800
    dark:shadow-lg
    z-[101];
}

.CMS_WidgetMarkdown_FontTypeSelect_option {
  @apply relative
    select-none
    py-2
    px-4
    cursor-pointer
    hover:bg-blue-500
    hover:text-white
    dark:hover:bg-blue-500;

  &.CMS_WidgetMarkdown_FontTypeSelect_option-selected {
    @apply bg-blue-500/25
      dark:bg-blue-700/20;

    & .CMS_WidgetMarkdown_FontTypeSelect_option-label {
      @apply font-medium;
    }
  }
}

.CMS_WidgetMarkdown_FontTypeSelect_option-label {
  @apply block
    truncate
    font-normal;
}

.CMS_WidgetMarkdown_FontTypeSelect_more-button-icon {
  @apply w-4
    h-4
    absolute
    right-0;
}
