.CMS_InlineEditTextField_root {
  @apply flex
    flex-col
    gap-1;

  &.CMS_InlineEditTextField_editable {
    & .CMS_InlineEditTextField_preview {
      @apply cursor-pointer
        border-transparent;

      &:hover {
        border-color: var(--primary-main);
      }
    }

    &:focus {
      & .CMS_InlineEditTextField_label {
        color: var(--primary-main);
      }
    }

    &:hover {
      & .CMS_InlineEditTextField_label {
        color: var(--primary-main);
      }
    }
  }
}

.CMS_InlineEditTextField_label {
  @apply w-full
    flex
    text-xs
    font-bold
    dark:font-semibold;
}

.CMS_InlineEditTextField_preview {
  color: var(--text-secondary);

  @apply flex
    items-center
    w-full
    p-1.5
    -ml-1.5
    text-sm
    whitespace-nowrap
    overflow-hidden
    h-input
    rounded-md
    border
    border-transparent;
}

.CMS_InlineEditTextField_input {
  color: var(--text-primary);

  @apply block
    w-full
    p-1.5
    -ml-1.5
    text-sm
    border
    border-gray-300
    rounded-md
    bg-gray-50
    focus-visible:outline-none
    focus:ring-4
    focus:ring-gray-200
    dark:bg-gray-700
    dark:border-gray-600
    dark:placeholder-gray-400
    dark:focus:ring-slate-700
    h-input;
}
