.CMS_InlineEditTextField_root {
  @apply flex
    flex-col
    gap-1;

  &.CMS_InlineEditTextField_editable {
    & .CMS_InlineEditTextField_preview {
      @apply cursor-pointer
        border-transparent;

      &:hover {
        border-color: var(--primary-main);
      }
    }

    &:focus {
      & .CMS_InlineEditTextField_label {
        color: var(--primary-main);
      }
    }

    &:hover {
      & .CMS_InlineEditTextField_label {
        color: var(--primary-main);
      }
    }
  }
}

.CMS_InlineEditTextField_label {
  @apply w-full
    flex
    text-xs
    font-bold;
}

.CMS_InlineEditTextField_preview {
  color: var(--text-secondary);

  @apply flex
    items-center
    w-full
    p-1.5
    -ml-1.5
    text-sm
    whitespace-nowrap
    overflow-hidden
    h-input
    rounded-md
    border
    border-transparent;
}

.CMS_InlineEditTextField_input {
  color: var(--text-primary);
  background: var(--background-main);
  border-color: var(--background-light);

  &:hover,
  &:focus-within {
    border-color: var(--primary-main);
  }

  --tw-ring-color: color-mix(in srgb, var(--primary-light) 50%, transparent);

  @apply block
    w-full
    p-1.5
    -ml-1.5
    text-sm
    border
    rounded-md
    focus-visible:outline-none
    focus:ring-4
    h-input;
}
