.CMS_InlineEditTextField_root {
  @apply flex
    flex-col
    gap-1;

  &.CMS_InlineEditTextField_editable {
    & .CMS_InlineEditTextField_preview {
      @apply cursor-pointer
        border-neutral-100
        hover:border-neutral-300
        dark:border-neutral-600;
    }

    &:focus {
      & .CMS_InlineEditTextField_label {
        @apply text-blue-500;
      }
    }

    &:hover {
      & .CMS_InlineEditTextField_label {
        @apply text-blue-500;
      }
    }
  }
}

.CMS_InlineEditTextField_label {
  @apply w-full
    flex
    text-xs
    font-bold
    dark:font-semibold;
}

.CMS_InlineEditTextField_preview {
  @apply flex
    items-center
    w-full
    p-1.5
    -ml-1.5
    text-sm
    whitespace-nowrap
    overflow-hidden
    h-input
    rounded-md
    border
    text-neutral-600
    dark:text-neutral-100
    border-transparent;
}

.CMS_InlineEditTextField_input {
  @apply block
    w-full
    p-1.5
    -ml-1.5
    text-sm
    text-neutral-800
    border
    border-neutral-300
    rounded-md
    bg-neutral-50
    focus-visible:outline-none
    focus:ring-4
    focus:ring-neutral-200
    dark:bg-neutral-700
    dark:border-neutral-600
    dark:placeholder-neutral-400
    dark:text-white
    dark:focus:ring-neutral-700
    h-input;
}
