.CMS_MediaLibrary_root {
  @apply relative
    border-2
    transition-colors
    w-full
    h-full
    border-transparent;

  &.CMS_MediaLibrary_for-image {
    & .CMS_MediaLibrary_preview {
      @apply grid
        grid-cols-media-preview;
    }

    & .CMS_MediaLibrary_preview-details {
      @apply pl-4;
    }
  }

  &:not(.CMS_MediaLibrary_for-image) {
    & .CMS_MediaLibrary_preview {
      @apply flex
        w-full;
    }

    & .CMS_MediaLibrary_preview-details {
      @apply w-full
        pl-1.5;
    }
  }

  &.CMS_MediaLibrary_is-dialog {
    & .CMS_MediaLibrary_grid-wrapper {
      @apply rounded-b-lg;
    }
  }

  &:not(.CMS_MediaLibrary_supports-folders) {
    & .CMS_MediaLibrary_grid-wrapper {
      @apply pt-[20px];
    }
  }

  &.CMS_MediaLIbrary_drop-area-active {
    @apply border-blue-500;

    & .CMS_MediaLibrary_drop-area {
      @apply opacity-100;
    }
  }
}

.CMS_MediaLibrary_is-dialog {
  @apply rounded-lg;
}

.CMS_MediaLibrary_supports-folders {
  & .CMS_MediaLibrary_controls {
    @apply pb-4
      border-b
      border-gray-200/75
      dark:border-neutral-500/75;
  }
}

.CMS_MediaLibrary_content-wrapper {
  @apply -m-0.5
    w-full
    h-full;
}

.CMS_MediaLibrary_content {
  @apply flex
    flex-col
    w-full
    h-full;
}

.CMS_MediaLibrary_drop-area {
  @apply absolute
    inset-0
    flex
    items-center
    justify-center
    pointer-events-none
    font-bold
    text-blue-500
    bg-white/75
    dark:text-blue-400
    dark:bg-neutral-800/75
    transition-opacity
    opacity-0;
}

.CMS_MediaLibrary_controls {
  @apply flex
    items-center
    px-5
    pt-4;
}

.CMS_MediaLibrary_upload-controls {
  @apply flex
    gap-3
    items-center
    relative;
}

.CMS_MediaLibrary_upload-button {
  @apply cursor-pointer;
}

.CMS_MediaLibrary_upload-button-icon {
  @apply w-5
    h-5
    mr-2;
}

.CMS_MediaLibrary_upload-button-input {
}

.CMS_MediaLibrary_header {
  @apply flex
    flex-grow
    gap-3
    mr-8;
}

.CMS_MediaLibrary_title {
  @apply text-xl
    font-semibold
    flex
    items-center
    gap-2
    text-gray-800
    dark:text-gray-300;
}

.CMS_MediaLibrary_title-icon-wrapper {
  @apply flex
    items-center;
}

.CMS_MediaLibrary_title-icon {
  @apply w-5
    h-5;
}

.CMS_MediaLibrary_folder-controls {
  @apply flex
    gap-1.5
    items-center;
}

.CMS_MediaLibrary_folder-controls-icon {
  @apply h-5
    w-5;
}

.CMS_MediaLibrary_folder {
  @apply flex
    gap-2
    items-center
    px-5
    py-4
    font-bold
    text-xl;
}

.CMS_MediaLibrary_folder-icon {
  @apply w-6
    h-6;
}

.CMS_MediaLibrary_copy-to-clipboard-button {
  @apply text-white
    dark:text-white
    bg-gray-900/25
    dark:hover:text-white
    dark:hover:bg-blue-800/80;
}

.CMS_MediaLibrary_copy-to-clipboard-button-icon {
  @apply w-5
    h-5;
}

.CMS_MediaLibrary_preview {
  @apply items-center
    px-5
    py-4
    border-b
    border-gray-200/75
    dark:border-neutral-500/75;
}

.CMS_MediaLibrary_preview-image {
  @apply w-media-preview-image
    h-media-preview-image
    rounded-md
    shadow-sm
    overflow-hidden
    border
    bg-gray-50/75
    border-gray-200/75
    dark:bg-neutral-800
    dark:border-neutral-600/75
    object-cover;
}

.CMS_MediaLibrary_preview-details {
  @apply flex
    flex-col
    h-full
    p-0
    gap-2;
}

.CMS_MediaLibrary_empty {
  @apply relative
    flex-grow
    p-5
    pb-20
    flex
    items-center
    justify-center
    dark:text-gray-100;
}

.CMS_MediaLibrary_files {
  @apply relative
    w-full
    h-full;
}

.CMS_MediaLibrary_grid-wrapper {
  @apply overflow-hidden;
}

.CMS_MediaLibrary_grid {
  @apply px-5
    pb-2
    overflow-hidden
    overflow-y-auto;
}

.CMS_MediaLibrary_search-form {
  @apply flex-grow
    max-w-media-search;
}

.CMS_MediaLibrary_search-label {
  @apply text-sm
    font-medium
    text-gray-800
    sr-only
    dark:text-white;
}

.CMS_MediaLibrary_search-wrapper {
  @apply relative;
}

.CMS_MediaLibrary_search-icon-wrapper {
  @apply absolute
    inset-y-0
    left-0
    flex
    items-center
    pl-3
    pointer-events-none;
}

.CMS_MediaLibrary_search-icon {
  @apply w-5
    h-5
    text-gray-500
    dark:text-gray-400;
}

.CMS_MediaLibrary_search-input {
  @apply block
    w-full
    p-1.5
    pl-10
    text-sm
    text-gray-800
    border
    border-gray-300
    rounded-lg
    bg-gray-50
    focus-visible:outline-none
    focus:ring-4
    focus:ring-gray-200
    dark:bg-gray-700
    dark:border-gray-600
    dark:placeholder-gray-400
    dark:text-white
    dark:focus:ring-neutral-700;
}
