.CMS_MediaLibraryCard_root {
  @apply relative
    w-media-card
    h-media-card;
}

.CMS_MediaLibraryCard_action {
  background: var(--background-dark);
  border-color: var(--background-light);

  @apply w-media-card
    h-media-card
    rounded-md
    shadow-sm
    overflow-hidden
    cursor-pointer
    border;

  &:hover {
    & .CMS_MediaLibraryCard_controls-overlay {
      background: color-mix(in srgb, var(--primary-main) 25%, transparent);

      @apply visible;
    }
  }
}

.CMS_MediaLibraryCard_handle {
  --tw-ring-color: color-mix(in srgb, var(--primary-light) 50%, transparent);

  @apply absolute
    inset-0
    rounded-md
    z-20
    overflow-visible
    focus:ring-4
    focus-visible:outline-none;
}

.CMS_MediaLibraryCard_outline {
  border-color: var(--primary-main);

  @apply absolute
    inset-0
    rounded-md
    border-2
    z-20;
}

.CMS_MediaLibraryCard_text {
  color: var(--text-secondary);

  @apply p-3
    w-full
    flex
    text-sm
    font-bold
    dark:font-semibold
    whitespace-nowrap
    overflow-hidden;
}

.CMS_MediaLibraryCard_controls-overlay {
  border-color: var(--primary-main);

  @apply absolute
    inset-0
    invisible
    transition-all
    rounded-md
    z-20;
}

.CMS_MediaLibraryCard_controls {
  background: color-mix(in srgb, var(--background-dark) 90%, transparent);

  @apply absolute
    top-2
    right-2
    flex
    gap-1
    rounded;
}

.CMS_MediaLibraryCard_control-icon {
  @apply w-5
    h-5;
}

.CMS_MediaLibraryCard_download-button {
  color: var(--primary-contrast-color);
  background: color-mix(in srgb, var(--primary-dark) 15%, transparent);

  &:hover {
    color: var(--primary-light);
  }
}

.CMS_MediaLibraryCard_delete-button {
  color: var(--error-main);
  background: color-mix(in srgb, var(--error-dark) 15%, transparent);

  @apply relative
    z-30;
}

.CMS_MediaLibraryCard_details {
  @apply relative;
}

.CMS_MediaLibraryCard_selection-overlay {
  @apply absolute
    top-3
    left-3
    flex
    items-center
    gap-1
    z-20;
}

.CMS_MediaLibraryCard_image {
  @apply w-media-card
    h-media-card-image
    rounded-md;
}

.CMS_MediaLibraryCard_folder {
  color: var(--text-secondary);
  background: var(--background-light);

  @apply w-media-card
    h-media-card-image
    font-bold
    flex
    items-center
    justify-center
    text-5xl;
}

.CMS_MediaLibraryCard_folder-icon {
  @apply w-24
    h-24;
}

.CMS_MediaLibraryCard_file {
  color: var(--text-secondary);
  background: var(--background-light);

  @apply w-media-card
    h-media-card-image
    font-bold
    flex
    items-center
    justify-center
    text-5xl;
}
