.CMS_SnackbarAlert_root {
  color: var(--text-primary);
  background: var(--background-main);

  @apply flex
    items-center
    w-full
    max-w-xs
    gap-3
    py-2
    px-2.5
    rounded-lg
    shadow-md
    dark:shadow-lg;

  &.CMS_SnackbarAlert_error {
    & .CMS_SnackbarAlert_icon-wrapper {
      color: var(--error-contrast-color);
      background: var(--error-main);
    }
  }

  &.CMS_SnackbarAlert_success {
    & .CMS_SnackbarAlert_icon-wrapper {
      color: var(--success-contrast-color);
      background: var(--success-main);
    }
  }

  &.CMS_SnackbarAlert_warning {
    & .CMS_SnackbarAlert_icon-wrapper {
      color: var(--warning-contrast-color);
      background: var(--warning-main);
    }
  }

  &.CMS_SnackbarAlert_info {
    & .CMS_SnackbarAlert_icon-wrapper {
      color: var(--info-contrast-color);
      background: var(--info-main);
    }
  }
}

.CMS_SnackbarAlert_icon-wrapper {
  @apply inline-flex
    items-center
    justify-center
    flex-shrink-0
    w-7
    h-7
    rounded-lg;
}

.CMS_SnackbarAlert_icon {
  @apply w-4
    h-4;
}

.CMS_SnackbarAlert_message {
  @apply text-sm
    font-normal
    flex-grow;
}

.CMS_SnackbarAlert_close-button {
  @apply ml-2;
}

.CMS_SnackbarAlert_close-button-sr-label {
  @apply sr-only;
}

.CMS_SnackbarAlert_close-button-icon {
  @apply w-4
    h-4;
}
