.CMS_SnackbarAlert_root {
  @apply flex
    items-center
    w-full
    max-w-xs
    gap-3
    py-2
    px-2.5
    text-gray-500
    bg-white
    rounded-lg
    shadow-md
    dark:text-gray-300
    dark:bg-gray-800
    dark:shadow-lg;

  &.CMS_SnackbarAlert_error {
    & .CMS_SnackbarAlert_icon-wrapper {
      @apply bg-red-500
        text-red-100
        dark:bg-red-600
        dark:text-red-200;
    }
  }

  &.CMS_SnackbarAlert_success {
    & .CMS_SnackbarAlert_icon-wrapper {
      @apply bg-green-500
        text-green-100
        dark:bg-green-600
        dark:text-green-200;
    }
  }

  &.CMS_SnackbarAlert_warning {
    & .CMS_SnackbarAlert_icon-wrapper {
      @apply bg-yellow-500
        text-yellow-100
        dark:bg-yellow-600
        dark:text-yellow-200;
    }
  }

  &.CMS_SnackbarAlert_info {
    & .CMS_SnackbarAlert_icon-wrapper {
      @apply text-blue-500
        bg-blue-100
        dark:bg-blue-800
        dark:text-blue-200;
    }
  }
}

.CMS_SnackbarAlert_icon-wrapper {
  @apply inline-flex
    items-center
    justify-center
    flex-shrink-0
    w-7
    h-7
    rounded-lg;
}

.CMS_SnackbarAlert_icon {
  @apply w-4
    h-4;
}

.CMS_SnackbarAlert_message {
  @apply text-sm
    font-normal;
}

.CMS_SnackbarAlert_close-button {
  @apply ml-2;
}

.CMS_SnackbarAlert_close-button-sr-label {
  @apply sr-only;
}

.CMS_SnackbarAlert_close-button-icon {
  @apply w-4
    h-4;
}
