.CMS_WidgetMarkdown_MediaPopover_root {
  background: var(--background-main);

  @apply absolute
    max-h-60
    overflow-auto
    rounded-md
    p-1
    text-base
    shadow-md
    focus:outline-none
    sm:text-sm
    z-40;
}

.CMS_WidgetMarkdown_MediaPopover_content {
  @apply flex
    gap-0.5;
}

.CMS_WidgetMarkdown_MediaPopover_icon {
  @apply w-4
    h-4;
}

.CMS_WidgetMarkdown_MediaPopover_divider {
  border-color: var(--background-light);

  @apply w-[1px]
    border;
}
