.CMS_Navbar_root {
  @apply z-40
    relative
    bg-white
    drop-shadow-md
    dark:bg-slate-800
    dark:drop-shadow-lg;

  &.CMS_Navbar_in-editor {
    & .CMS_Navbar_content-wrapper {
      & .CMS_Navbar_content {
        @apply pl-3
          md:pl-0;

        & .CMS_Navbar_breadcrumbs {
          & .CMS_Navbar_logo-wrapper {
            @apply hidden
              md:flex;
          }
        }
      }
    }
  }
}

.CMS_Navbar_content-wrapper {
  @apply mx-auto
    pr-2
    sm:pr-4
    lg:pr-5;

  & .CMS_Navbar_content {
    @apply relative
      flex
      h-16
      items-center
      justify-between
      gap-2;
  }
}

.CMS_Navbar_breadcrumbs {
  @apply flex
    flex-1
    h-full
    items-stretch
    justify-start
    gap-2
    md:gap-3
    truncate;

  & .CMS_Navbar_logo-wrapper {
    @apply flex
      flex-shrink-0
      items-center
      justify-center
      w-16
      bg-slate-500
      dark:bg-slate-700;

    & .CMS_Navbar_logo {
      @apply w-10
        h-10;

      &.CMS_Navbar_custom-logo {
        @apply bg-contain
          bg-no-repeat
          bg-center
          object-cover;
      }
    }
  }
}

.CMS_Navbar_actions {
  @apply flex
    gap-3
    items-center;
}

.CMS_Navbar_site-url {
  @apply gap-2
    hidden
    lg:flex;
}

.CMS_Navbar_site-url-label {
  @apply hidden
    lg:flex;
}

.CMS_Navbar_site-url-icon {
  @apply h-5
    w-5
    text-gray-400
    dark:text-gray-500;
}

.CMS_Navbar_quick-create {
  @apply hidden
    md:block;
}
