.CMS_Navbar_root {
  background: var(--background-main);

  @apply z-40
    relative
    drop-shadow-md;

  &.CMS_Navbar_in-editor {
    & .CMS_Navbar_content-wrapper {
      & .CMS_Navbar_content {
        @apply pl-3
          md:pl-0;

        & .CMS_Navbar_breadcrumbs {
          & .CMS_Navbar_logo-wrapper {
            @apply hidden
              md:flex;
          }
        }
      }
    }
  }
}

.CMS_Navbar_content-wrapper {
  @apply mx-auto
    pr-2
    sm:pr-4
    lg:pr-5;

  & .CMS_Navbar_content {
    @apply relative
      flex
      h-16
      items-center
      justify-between
      gap-2;
  }
}

.CMS_Navbar_breadcrumbs {
  @apply flex
    flex-1
    h-full
    items-stretch
    justify-start
    gap-2
    md:gap-3
    truncate;

  & .CMS_Navbar_logo-wrapper {
    background: var(--background-light);

    @apply flex
      flex-shrink-0
      items-center
      justify-center
      w-16;

    & .CMS_Navbar_logo {
      @apply w-10
        h-10;

      &.CMS_Navbar_custom-logo {
        @apply bg-contain
          bg-no-repeat
          bg-center
          object-cover;
      }
    }
  }
}

.CMS_Navbar_actions {
  @apply flex
    gap-2
    lg:gap-3
    items-center;
}

.CMS_Navbar_site-url {
  @apply gap-2
    !hidden
    lg:!flex;
}

.CMS_Navbar_site-url-mobile {
  @apply !flex
    lg:!hidden;
}

.CMS_Navbar_site-url-icon {
  color: var(--text-secondary);

  @apply h-6
    w-6;
}

.CMS_Navbar_quick-create {
  @apply hidden
    md:block;
}
