.CMS_NavLink_link {
  @apply w-full
    justify-start;

  &.CMS_NavLink_active {
    @apply bg-blue-200/75
      dark:bg-neutral-700
      hover:bg-neutral-200
      dark:hover:bg-neutral-700/75
      text-blue-700
      dark:text-blue-400;
  }
}

.CMS_NavLink_external {
  @apply flex
  justify-between
  w-full;
}

.CMS_NavLink_external-content {
  @apply flex
  items-center
  justify-start;
}

.CMS_NavLink_external-icon {
  @apply h-5
  w-5
  text-neutral-400
  dark:text-neutral-500;
}

.CMS_NavLink_content {
  @apply flex
    w-full
    gap-3
    items-center;
}

.CMS_NavLink_icon {
  @apply w-6 h-6;
}

.CMS_NavLink_label {
  @apply flex-grow;
}
