.CMS_Checkbox_root {
  @apply relative
    inline-flex
    items-center
    cursor-pointer;

  &.CMS_Checkbox_disabled {
    @apply cursor-default;

    & .CMS_Checkbox_input {
      & + .CMS_Checkbox_custom-input {
        background: var(--primary-main);
      }
    }

    & .CMS_Checkbox_custom-input {
      background: var(--button-disabled);
    }
  }
}

.CMS_Checkbox_input {
  @apply sr-only;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;

  &:focus + .CMS_Checkbox_custom-input {
    @apply ring-4
      ring-blue-300
      dark:ring-blue-800;
  }

  &:checked + .CMS_Checkbox_custom-input {
    background: var(--primary-main);

    @apply after:translate-x-full;
  }
}

.CMS_Checkbox_custom-input {
  color: var(--primary-light);
  background: color-mix(in srgb, var(--primary-contrast-color) 50%, transparent);

  @apply w-6
    h-6
    border-gray-300
    rounded
    focus:ring-blue-500
    dark:focus:ring-blue-600
    dark:ring-offset-gray-800
    focus:ring-2
    dark:border-gray-600
    select-none
    flex
    items-center
    justify-center;
}

.CMS_Checkbox_checkmark {
  color: var(--primary-contrast-color);

  @apply w-5
    h-5;
}
