.CMS_CollectionSearch_content {
  @apply relative;
}

.CMS_CollectionSearch_icon-wrapper {
  @apply absolute
    inset-y-0
    left-0
    flex
    items-center
    pl-3
    pointer-events-none;
}

.CMS_CollectionSearch_icon {
  color: var(--text-secondary);

  @apply w-5
    h-5;
}

.CMS_CollectionSearch_input {
  color: var(--text-primary);
  background: var(--background-light);

  @apply block
    w-full
    p-1.5
    pl-10
    text-sm
    border
    border-gray-300
    rounded-lg
    focus-visible:outline-none
    focus:ring-4
    focus:ring-gray-200
    dark:border-gray-600
    dark:placeholder-gray-400
    dark:focus:ring-slate-700;
}

.CMS_CollectionSearch_search-in {
  background: var(--background-light);

  @apply absolute
    overflow-auto
    rounded-md
    text-base
    shadow-md
    ring-1
    ring-black
    ring-opacity-5
    focus:outline-none
    sm:text-sm
    z-[1300]
    dark:shadow-lg;
}

.CMS_CollectionSearch_search-in-content {
  @apply flex
    flex-col
    min-w-[200px];
}

.CMS_CollectionSearch_search-in-label {
  color: var(--text-secondary);

  @apply text-base
    py-2
    px-3;
}

.CMS_CollectionSearch_search-in-option {
  color: var(--text-primary);

  &:hover {
    color: var(--text-secondary);
  }

  @apply cursor-pointer
    hover:bg-blue-500
    py-2
    px-3;
}
