.CMS_CollectionSearch_content {
  @apply relative;
}

.CMS_CollectionSearch_icon-wrapper {
  @apply absolute
    inset-y-0
    left-0
    flex
    items-center
    pl-3
    pointer-events-none;
}

.CMS_CollectionSearch_icon {
  color: var(--text-secondary);

  @apply w-5
    h-5;
}

.CMS_CollectionSearch_input {
  color: var(--text-primary);
  background: color-mix(in srgb, var(--background-light) 50%, transparent);
  border-color: var(--background-light);

  @apply block
    w-full
    p-1.5
    pl-10
    text-sm
    border
    rounded-lg
    focus-visible:outline-none
    focus:ring-4;

  &:placeholder {
    color: var(--text-disabled);
  }

  &:focus {
    --tw-ring-color: color-mix(in srgb, var(--primary-light) 50%, transparent);
  }
}

.CMS_CollectionSearch_search-in {
  background: var(--background-light);

  @apply absolute
    overflow-auto
    rounded-md
    text-base
    shadow-md
    focus:outline-none
    sm:text-sm
    z-[1300];
}

.CMS_CollectionSearch_search-in-content {
  @apply flex
    flex-col
    min-w-[200px];
}

.CMS_CollectionSearch_search-in-label {
  color: var(--text-secondary);

  @apply text-base
    py-2
    px-3;
}

.CMS_CollectionSearch_search-in-option {
  color: var(--text-primary);

  &:hover {
    color: var(--text-secondary);
    background: var(--primary-main);
  }

  @apply cursor-pointer
    py-2
    px-3;
}
