.CMS_FilterControl_root {
  @apply hidden
    lg:block;
}

.CMS_FilterControl_filter-label {
  color: var(--text-primary);

  @apply ml-2
    text-sm
    font-medium;
}

.CMS_FilterControl_list-root {
  @apply flex
    flex-col
    gap-2;
}

.CMS_FilterControl_list-label {
  color: var(--text-primary);

  @apply text-lg
    font-bold;
}

.CMS_FilterControl_list-filter {
  color: var(--text-primary);

  @apply ml-1.5
    font-medium
    flex
    items-center;
}

.CMS_FilterControl_list-filter-label {
  color: var(--text-primary);

  @apply ml-2
    text-base
    font-medium;
}
