.CMS_MediaLibraryModal_root {
  @apply w-media-library-dialog
    h-media-library-dialog;

  & .CMS_MediaLibraryModal_close-button {
    background: var(--background-main);
    border-color: var(--background-light);

    &:hover {
      background: var(--background-light);
    }

    @apply absolute
      -top-3.5
      -left-3.5
      z-[1];
  }
}
