.CMS_MediaLibraryModal_root {
  @apply w-media-library-dialog
    h-media-library-dialog;

  & .CMS_MediaLibraryModal_close-button {
    @apply absolute
    -top-3.5
    -left-3.5
    bg-white
    hover:bg-neutral-100
    dark:bg-neutral-800
    dark:hover:bg-neutral-900
    z-[1];
  }
}

.CMS_MediaLibraryModal_close-button-icon {
  @apply w-5
    h-5;
}
