.CMS_Preview_root {
  background: var(--background-dark);

  @apply h-full
    md:h-main
    top-16
    right-0
    w-full;

  &.CMS_Preview_show-mobile-preview {
    @apply hidden
      lg:block;
  }
}

.CMS_Preview_live-preview {
  @apply w-full
    h-full;
}

.CMS_Preview_frame {
  @apply w-full
    h-full;
}

.CMS_Preview_inline {
  @apply overflow-y-auto
    h-full
    py-2
    pe-3;
}
