.CMS_TextField_root {
  @apply flex
    w-full;
}

.CMS_TextField_input {
  @apply w-full
    text-sm;

  &.CMS_TextField_borderless {
    color: var(--text-primary);

    &:disabled {
      color: var(--text-disabled);
    }

    @apply h-6
      px-3
      bg-transparent
      outline-none
      font-medium;
  }

  &.CMS_TextField_contained {
    color: var(--text-primary);

    @apply bg-gray-50
      border
      border-gray-300
      rounded-lg
      focus:ring-blue-500
      focus:border-blue-500
      block
      p-2.5
      dark:bg-gray-700
      dark:border-gray-600
      dark:placeholder-gray-400
      dark:focus:ring-blue-500
      dark:focus:border-blue-500;
  }

  &.CMS_TextField_cursor-pointer {
    @apply cursor-pointer;
  }

  &.CMS_TextField_cursor-text {
    @apply cursor-text;
  }

  &.CMS_TextField_cursor-default {
    @apply cursor-default;
  }
}
