.CMS_TextArea_root {
  @apply flex
    w-full;
}

.CMS_TextArea_input {
  @apply w-full
    min-h-[80px]
    px-3
    bg-transparent
    outline-none
    text-sm
    font-medium
    text-neutral-800
    dark:text-neutral-100
    disabled:text-neutral-300
    dark:disabled:text-neutral-500;
}
