.CMS_Menu_root {
  @apply flex;

  &:not(.CMS_Menu_hide-label) {
    &:not(.CMS_Menu_hide-dropdown-icon) {
      & .CMS_Menu_dropdown {
        & .CMS_Menu_dropdown-start-icon {
          @apply mr-1.5;
        }
      }
    }

    & .CMS_Menu_dropdown {
      & .CMS_Menu_dropdown-icon {
        @apply ml-2;
      }
    }
  }

  &.CMS_Menu_hide-dropdown-icon-mobile {
    & .CMS_Menu_dropdown {
      & .CMS_Menu_dropdown-start-icon {
        @apply !mr-0
          md:!mr-1.5;
      }

      & .CMS_Menu_dropdown-icon {
        @apply !hidden
          md:!block;
      }
    }
  }
}

.CMS_Menu_dropdown {
  @apply whitespace-nowrap;
}

.CMS_Menu_dropdown-start-icon {
  @apply -ml-0.5
    h-5
    w-5;
}

.CMS_Menu_dropdown-icon {
  @apply -mr-0.5
    h-5
    w-5;
}

.CMS_Menu_menu {
  background: var(--background-main);
  border-color: var(--background-light);

  & > :not([hidden]) ~ :not([hidden]) {
    border-color: var(--background-light);
  }

  @apply absolute
    right-0
    z-40
    w-56
    origin-top-right
    rounded-md
    shadow-md
    border
    focus:outline-none
    divide-y
    dark:shadow-lg;
}
