.CMS_MenuItemButton_root {
  @apply px-4
    py-2
    text-sm
    w-full
    text-left
    flex
    items-center
    justify-between
    cursor-pointer;

  &:not(.CMS_MenuItemButton_disabled) {
    &.CMS_MenuItemButton_active {
      background: var(--background-light);
    }
  }

  &.CMS_MenuItemButton_default {
    color: var(--text-primary);

    &.CMS_MenuItemButton_disabled {
      color: var(--text-disabled);
    }

    &:not(.CMS_MenuItemButton_disabled) {
      &:hover {
        color: var(--primary-contrast-color);
        background: var(--primary-main);
      }
    }
  }

  &.CMS_MenuItemButton_success {
    color: var(--success-main);

    &.CMS_MenuItemButton_disabled {
      background: color-mix(in srgb, var(--success-main) 50%, transparent);
    }

    &:not(.CMS_MenuItemButton_disabled) {
      &:hover {
        color: var(--success-contrast-color);
        background: var(--success-main);
      }
    }
  }

  &.CMS_MenuItemButton_warning {
    color: var(--warning-main);

    &.CMS_MenuItemButton_disabled {
      background: color-mix(in srgb, var(--warning-main) 50%, transparent);
    }

    &:not(.CMS_MenuItemButton_disabled) {
      &:hover {
        color: var(--warning-contrast-color);
        background: var(--warning-main);
      }
    }
  }

  &.CMS_MenuItemButton_error {
    color: var(--error-main);

    &.CMS_MenuItemButton_disabled {
      background: color-mix(in srgb, var(--error-main) 50%, transparent);
    }

    &:not(.CMS_MenuItemButton_disabled) {
      &:hover {
        color: var(--error-contrast-color);
        background: var(--error-main);
      }
    }
  }

  &.CMS_MenuItemButton_info {
    color: var(--info-main);

    &.CMS_MenuItemButton_disabled {
      background: color-mix(in srgb, var(--info-main) 50%, transparent);
    }

    &:not(.CMS_MenuItemButton_disabled) {
      &:hover {
        color: var(--info-contrast-color);
        background: var(--info-main);
      }
    }
  }
}

.CMS_MenuItemButton_content {
  @apply flex
    items-center
    gap-2
    flex-grow;
}

.CMS_MenuItemButton_start-icon {
  @apply h-5
    w-5;
}

.CMS_MenuItemButton_end-icon {
  @apply h-5
    w-5;
}
