.CMS_MenuItemLink_root {
  color: var(--text-primary);

  &:hover {
    color: var(--primary-contrast-color);
    background: color-mix(in srgb, var(--primary-main) 50%, transparent);
  }

  @apply px-4
    py-2
    text-sm
    w-full
    text-left
    flex
    items-center
    justify-between;

  &.CMS_MenuItemLink_active {
    background: var(--background-light);
  }
}

.CMS_MenuItemLink_content {
  @apply flex
    items-center
    gap-2
    flex-grow;
}

.CMS_MenuItemLink_start-icon {
  @apply h-5
    w-5;
}

.CMS_MenuItemLink_end-icon {
  @apply h-5
    w-5;
}
