.CMS_EditorToolbar_root {
  @apply flex
    gap-2;
}

.CMS_EditorToolbar_more-menu {
  @apply hidden
    lg:flex;
}

.CMS_EditorToolbar_more-menu-button {
  @apply px-1.5;
}

.CMS_EditorToolbar_more-menu-label-icon {
  @apply w-5
    h-5;
}

.CMS_EditorToolbar_preview-toggle {
  @apply flex
    lg:!hidden;
}

.CMS_EditorToolbar_discard-button {
  @apply flex
    lg:!hidden;
}

.CMS_EditorToolbar_delete-button {
  @apply flex
    lg:!hidden;
}

.CMS_EditorToolbar_publish-button {
}

.CMS_EditorToolbar_publish-button-icon {
  @apply flex
    md:!hidden;
}

.CMS_EditorToolbar_publish-button-label {
  @apply hidden
    md:block;
}

.CMS_EditorToolbar_workflow-controls {
  @apply hidden
    md:flex
    gap-2
    items-center;
}
