.CMS_Editor_default {
  @apply w-full;

  &.CMS_Editor_split-view {
    @apply overflow-y-auto
      h-main-mobile
      md:h-main;
  }

  & .CMS_Editor_mobile-preview {
    @apply hidden
      lg:block;
  }
}

& .CMS_Editor_i18n {
  @apply hidden
    w-full
    overflow-y-auto
    h-main-mobile
    md:h-main;

  &.CMS_Editor_i18n-active {
    @apply flex;
  }
}

& .CMS_Editor_mobile-i18n {
  @apply flex
    w-full
    overflow-y-auto
    h-main-mobile;
}

& .CMS_Editor_root {
  &:not(.CMS_Editor_wrapper-i18n-side-by-side) {
    @apply grid
      h-full;

    &.CMS_Editor_compact {
      @apply lg:grid-cols-editor;
    }

    &:not(.CMS_Editor_compact) {
      @apply lg:grid-cols-2;
    }
  }

  &.CMS_Editor_wrapper-i18n-side-by-side {
    @apply grid-cols-2
      h-full
      hidden
      lg:grid;
  }
}

.CMS_Editor_toolbar {
  @apply flex;
}

.CMS_Editor_content-wrapper {
  @apply flex
    justify-center;

  & .CMS_Editor_content {
    @apply w-editor-only
      max-w-full;
  }
}
