.CMS_Pill_root {
  @apply text-xs
    font-medium
    px-3
    py-1
    rounded-lg
    truncate;

  &.CMS_Pill_no-wrap {
    @apply whitespace-nowrap;
  }

  &.CMS_Pill_primary {
    color: var(--primary-contrast-color);
    background: var(--primary-main);
  }

  &.CMS_Pill_default {
    color: var(--secondary-contrast-color);
    background: var(--secondary-main);
  }

  &.CMS_Pill_disabled {
    &.CMS_Pill_primary {
      color: var(--text-disabled);
      background: var(--button-disabled);
    }

    &.CMS_Pill_default {
      color: var(--text-disabled);
      background: var(--button-disabled);
    }
  }
}
