.CMS_Pill_root {
  @apply text-xs
    font-medium
    px-3
    py-1
    rounded-lg
    truncate;

  &.CMS_Pill_no-wrap {
    @apply whitespace-nowrap;
  }

  &.CMS_Pill_primary {
    @apply bg-blue-700
      text-gray-100
      dark:bg-blue-700
      dark:text-gray-100;
  }

  &.CMS_Pill_default {
    @apply bg-gray-200
      text-gray-800
      dark:bg-gray-700
      dark:text-gray-100;
  }

  &.CMS_Pill_disabled {
    &.CMS_Pill_primary {
      @apply bg-blue-300/75
        text-gray-100/75
        dark:bg-blue-700/25
        dark:text-gray-500;
    }

    &.CMS_Pill_default {
      @apply bg-gray-100
        text-gray-400/75
        dark:bg-gray-800/75
        dark:text-gray-500;
    }
  }
}
